[data-theme="default"] .t-about-box{
  background: pink;
}
[data-theme="default"] .t-about-text{
  color: pink;
}

[data-theme="default"] .t-home-item1{
  color: pink;
}

[data-theme="default"] .t-home-item3{
  color: pink;
}
